td.money
{
  text-align: right;
}

.highlighted
{
  background: yellow;
}

input.ng-invalid
{
  box-shadow: 0 0 2px 2px red;
}

.st-sort-ascent:before
{
  content: '\25B2';
}

.st-sort-descent:before
{
  content: '\25BC';
}
